@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

/* Shimmer style */

/* #text {
  width: 100%;
} */

.sim-h2 {
  border-radius: 0.125rem;
  margin-top: 1rem;
  height: 2rem;
  width: 70%;
}

.sim-h4 {
  border-radius: 0.125rem;
  margin-top: default;
  height: 1rem;
  width: 60%;
}

.sim-h5 {
  border-radius: 0.125rem;
  margin-top: default;
  height: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
.sim-h5:last-child {
  width: 50%;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
